/* Small devices (phones, less than 768px) */
$violet: #9356DC;

.page-home {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  .container-loader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    visibility: hidden;
    animation: loader 3s linear;
    
    @keyframes loader {
      0%{
        visibility: inherit;
        z-index: 999;
      }
    }
    .loader {
      border: 16px solid $violet; 
      border-top: 16px solid #FF79DA; 
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 500ms linear infinite;
    }
  }


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  #logo {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-weight: 400;
    box-shadow: 0px 2px 4px 0px #00000026;
    padding: 16px;
    font-size: 24px;
  }
  
  .location {
    border: none;
    text-align: center;
    color: #353535;
    background: #EAEAEA;
    padding: 8px;
  }
  
  .location i {
    margin-right: 8px;
  }
  
  .explore {
    text-align: center;
    padding: 8px 16px;
  }
  
  .explore button {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    width: 218px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
  }
  
  .explore button:hover {
    transform: scale(1.02);
  }
  
  li i:hover {
    color: #9356DC;
  }
  
  .fonction li {
    background: #f6f6f6;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    list-style: none;
    position: relative;
  }
  
  .fonction {
    padding: 16px;
  }
  
  .fonction ul {
    padding: 0;
    margin: 0;
  }
  
  .bulle {
    display: inline-block;
    background: #9356DC;
    line-height: 24px;
    text-align: center;
    width: 24px;
    color: white;
    border-radius: 100%;
    position: absolute;
    left: -10px;
  }
  
  .fonction i {
    margin: 0 8px;
  }
  
  li i {
    color: grey;
  }
  
  #restaurants {
    padding: 16px;
    background: #f6f6f6;
  }
  .fa-heart:hover {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .badge {
    width: 80px;
    height: 29px;
    background: #99e2d0;
    color: #008766;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .restaurants-card {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    width: 100%;
    gap: 20px;
    position: relative;
  }
  
  .content-info {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .card-rating {
    display: flex;
    align-items: center;
  }
  .fa-heart:hover {
    font-weight: 600;
  }
  .restaurants-card img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0 0;
  }
  
  .restaurants-title {
    display: flex;
  }
  
  .container-restaurants {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  footer {
    background: #353535;
    color: white;
    gap: 16px;
  }
  footer i {
    margin-right: 8px;
  }

  #logo-end {
    color: white;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 138px;
    height: 27px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  @media (min-width: 768px) {
    #restaurants {
      padding: 0 180px 0 180px;
    }
    .restaurants-card {
      width: 40%;
    }
    .fonction li {
      display: inline-block;
    
    }
    footer {
      display: flex;
      flex-direction: row-reverse;
      gap: 16px;
    }
    
  }
}
  
  

    
    